@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #a5f3fc;
  color: #1c1917;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply bg-light-theme-0 dark:bg-dark-theme-0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}
