@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2') format('woff2');
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

#__next {
  @apply bg-theme-light dark:bg-theme-dark;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.098em;
  display: table;
}
